
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
$color:black;
$color1:green;
$color2:#F2F3F8;
body{ 
    font-family: 'Nunito Sans', sans-serif;   
    color: $color;
    background-color: $color2;
}


